/*  */
* {
  box-sizing: border-box;
}
.loginbox {
  background-color: rgb(172, 198, 255);
  border-radius: 25px;
  width: 700px;
  z-index: 10;
  text-align: center;
  border: solid rgb(10, 0, 115) 4px;
  box-shadow: rgba(41, 0, 221, 0.4) 0px 2px 4px,
    rgba(34, 0, 255, 0.3) 0px 7px 13px -3px,
    rgba(17, 0, 255, 0.2) 0px -3px 0px inset;
  margin-left: 50%;
  margin-top: 5%;
  transform: translate(-50%, 0%);
}
#signupbox {
  height: 550px;
  display: block;
}
#loginbox {
  height: 480px;
  display: none;
}
.title {
  font-family: "Typo Round Regular Demo";
  font-size: 36px;
}
.rq {
  display: inline;
  font-family: "Typo Round Regular Demo";
  font-size: 24px;
}
#emailSU,
#emailLI,
#usernameSU,
#passSU,
#passLI {
  width: 350px;
  height: 60px;
  font-family: "SVN-Product Sans";
  font-size: 24px;
  margin-bottom: 30px;
  padding-left: 10px;
  margin-top: -20px;
  border-radius: 15px;
  border: solid rgb(0, 64, 159) 3px;
  background-color: rgb(212, 225, 255);
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #5898ff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Typo Round Regular Demo";
  font-size: 24px;
  font-weight: 500;
  height: 67px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  margin-bottom: 20px;
  overflow: visible;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.btn18 {
  left: 70%;
}

.button-17:hover {
  background-color: #0059ff;
  color: #000000;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
    0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0,
    rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0,
    rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0,
    rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
