.detailHolder {
  width: 100%;
  margin-top: 80px;
  padding: 30px;
  height: 300px;
  display: flex;
}
.detailHolder img {
  height: 260px;
  width: 382px;
}
.courseName {
  font-family: "Black Ops One";
  font-size: 40px;
  padding-left: 20px;
  padding-top: 40px;
  text-transform: uppercase;
}
.courseAuthor {
  font-family: Roboto;
  font-size: 20px;
  padding-left: 20px;
}
.leftSide,
.rightSide {
  height: 260px;
  background-color: rgb(168, 204, 255);
}
.rightSide {
  width: 1200px;
}
.dangkyhoc {
  border: 2px solid blue;
  border-radius: 20px;
  background-color: white;
  margin-left: 20px;
  height: 45px;
  width: 160px;
  font-size: 18px;
  font-family: Montserrat;
  margin-top: 10px;
}
.dangkyhoc:hover {
  cursor: pointer;
  background-color: rgb(203, 225, 255);
  font-weight: 900;
}
.courseContent {
  display: block;
  width: 97%;
  padding-left: 40px;
  text-align: justify;
}
.generalInfo {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 500;
}
.generalTitle {
  font-size: 22px;
  font-family: Roboto;
  font-weight: bold;
  margin-top: 20px;
}
.info {
  font-size: 18px;
  font-family: Roboto;
  line-height: 28px;
}
